* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --backgr-dark:rgb(95, 120, 165);
    --textcolor: #fff;
    --backgr-light:rgb(225, 255, 255); 
}

/*body style code*/
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/*header style code*/
header {
    color: var(--textcolor);
    background-color: var(--backgr-dark) ;
    font-size: 15px;
    /* width: max-content; */
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 5px;
}
.high-score-leftside {
display:inline-flex;
justify-items: flex-start;
border-radius: 5px;
margin-left: 5px;
}
.timer {
    display:inline-flex;
    justify-items: flex-end;
    padding-left: 30 px;
    border-radius: 5px;
    margin-right: 5px;
    justify-content: space-between;
    width: 80px;
    height:10px;
}
/*main-box style code*/
.main-box {
    background-color: var(--backgr-light);
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 5px solid var(--backgr-dark);
    border-radius: 8px;
    margin: 50px;
    padding: 100px;
    line-height: 50px;
}
/*add style for button*/
button {
    cursor: pointer;
    align-content: center;
    }
button:hover{
    background-color: mediumaquamarine;
}
/*style code for question-container*/
.hide{
    display: none;
}

#question-text{
    text-align: center;
    color: var(--backgr-dark);
    margin-top: 20px;
}
.answer-buttons{
    display: flex;
    flex-direction: column;
    position: relative;
    width:fit-content;
}   
.btn {
    display:flex;
    flex-direction: column;
    color: var(--textcolor);
    background-color: var(--backgr-dark);
    font-size: 20px;
    text-align: center;
    position:relative;
    padding: 20px;
    margin: 20px;
    border: 5px solid black;
    border-radius: 10px;
}
#result {
    color: var(--backgr-dark);
    text-align: center;
}
/*add style for final screen*/
#finish-screen{
    background-color: var(--backgr-light);
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    border: 5px solid var(--backgr-dark);
    border-radius: 8px;
    margin: 50px;
    /* width:fit-content; */
    padding: auto;
    line-height: 50px;
}
/*add style code for button*/
.start {
    display:inline-block;
    text-align: center;
    background-color: var(--backgr-dark);
    color: var(--textcolor);
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
    margin:auto;
    padding:10px;  
}
/*add style for highscore.html*/
.page2 {
    background-color: var(--backgr-light);
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    width:100%;
    text-align: center;
    font-size: 25px;
}
.page2 h1{
    font-size: 25px;
    margin-top: 20px;
}
.page2 ol li {
    font-size: 20px;
}
.page {
    display: inline-block;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color:white;
    font-size: 15px;
    text-decoration-style: none;
    border-radius: 5px;
    border: 1px solid var(--backgr-dark);
}
/*made wed in varois screen*/
@media screen and (max-width: 576px){
    header{
        font-size: 15px;
    }
    .timer {
        display:inline-flex;
        justify-items: flex-end;
        border-radius: 5px;
        margin-right: 25px;
        justify-content: space-around;
        width: 80px;
        height:10px;
        font-size: 20px;
    }
    .main-box {
        width:fit-content;
        display:flex;
        position: relative;
        background-color: white;
        flex-wrap:wrap;
        height: fit-content;
        margin:auto;
    }
    .main-box h1{
        position:relative
        margin:10px;
        font-size: 20px;
        text-decoration-style: border;
        flex-wrap:wrap;
        
    }
    .main-box p{
        font-size: 15px;
        line-height:40px;
    }
    .start{ 
        display:inline-block;
        text-align: center;
        background-color: var(--backgr-dark);
        color: var(--textcolor);
        font-size: 10px;
        border: 1px solid black;
        border-radius: 10px;
        margin:auto;
        padding:auto; 
    }
    #question-container{
        font-size: 15px;
        width:fit-content;
        margin:auto;
    }
    #question-text{
        font-size: 15px;
        width:fit-content;
        margin:auto;
    };
    .btn{
        display:flex;
        flex-direction: column;
        color: var(--textcolor);
        background-color: var(--backgr-dark);
        font-size: 15px;
        text-align: center;
        position:relative;
        padding: 5px;
        margin: 10px;
        border: 5px solid black;
        border-radius: 5px;
        margin:auto;
    }

    #question-text{
        font-size: 15px;
    }
}

@media screen and (max-width: 768px){
    header{
        font-size: 30px;
    }
    .timer {
        display:inline-flex;
        justify-items: flex-end;
        border-radius: 5px;
        margin-right: 25px;
        justify-content: space-around;
        width: 80px;
        height:10px;
        font-size: 25px;
    }
    .main-box {
        font-size: 25px;
        width:fit-content;
        height: fit-content;
        margin:auto;
    }
    .main-box h1{
        font-size: 25px;
        text-decoration-style: border;
        flex-wrap:wrap;
    }
    .main-box p{
        font-size: 20px;
        flex-wrap:wrap;
    }
    #question-text{
        font-size: 25px;
        margin: auto;
        flex-wrap:wrap;
    };
    .start{
    display:inline-block;
    text-align: center;
    background-color: var(--backgr-dark);
    color: var(--textcolor);
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
    margin:auto;
    padding:auto; 
    }
    #question-container{
        font-size: 25px;
        width:fit-content;
    }
    #question-text{
        font-size: 25px;
    }
}